body {
 background-color:bisque;
 font-family: Arial; 
 font-style: italic;
 font-weight: bolder;
 font-size: 50px;
 
}
a{
    color: white;    
    text-decoration: none;
}
b{
    color: white;    
    text-decoration: none;
}
b{
    color: white;    
    text-decoration: none;
}